.place__title {
  /*max-width: 460px;*/
  width: 47%;
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #ffffff;
  padding-bottom: 48px;
  align-self: flex-end;
}

@media (max-width: 768px) {
  .place__title {
    font-size: 5.5vw;
    line-height: 46px;;
  }
}

@media (max-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    width: 100%;
    margin: 0 auto;
  }
}
