@import url(./__item/photo-grid__item.css);

.photo-grid {
  max-width: 1184px;
  width: 100%;
  min-height: 671px;
  margin: 0 auto;
  padding-top: 92px;
  padding-left: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px 16px;
  line-height: 0;
}

@media (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
    min-height: 942px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 14px 14px;
  }
}
