.place__website-link {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.34vw;
  line-height: 22px;
  text-decoration-line: underline;
  color: #ffffff;
}

.place__website-link:hover {
  opacity: 0.8;
  cursor: pointer;
}
