@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list/_digits/intro__list_digits_thin.css);

.intro {
  padding-top: 92px;
  max-width: 984px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .intro {
    max-width: 720px;
  }
}

@media (max-width: 320px) {
  .intro {
    max-width: 288px;
  }
}
