@import url(./__overlay/cover__overlay.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);


/*не могу понять что не так с этим блоком
- min-height тут явно лишние они все испортят в итоге -
слишком много получается медиазапросов
 - пока сделал по аналогии из слака от татьяны - но надо разбираться*/

.cover {
  margin: 0 auto;
  max-width: 1184px;
  min-height: 740px;
  width: 100%;
  background-image: url(../../images/__background.jpg);
  background-size: cover;
  position: relative;
}

@media (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover {
    max-width: 768px;
    min-height: 480px;
  }
}

@media (max-width: 320px) {
  .cover {
    max-width: 320px;
    min-height: 200px;
  }
}
