.lead__caption {
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  align-self: flex-start;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media (max-width: 320px) {
  .lead__caption {
    padding-left: 16px;
  }
}
