@import url(./__title/place__title.css);
@import url(./__website/place__website.css);
@import url(./__website-header/place__website-header.css);
@import url(./__website-link/place__website-link.css);
@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__paragraphs/place_paragraphs.css);

/*Попробую сделать через space-beetwen вместо padding на все верстки*/
/*Оформил сжатие элементов через width: 50% - надо поработать с этим плотнее*/

.place {
  max-width: 984px;
  width: 100%;
  min-height: 660px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 80px;
  justify-content: space-between;
}

.place:last-child {
  padding-bottom: 92px;
}

@media (max-width: 1024px) {
  .place {
    max-width: 928px;
    min-height: 640px;
  }
}
