.intro__title {
  margin: 0;
  max-width: 690px;
  width: 100%;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #ffffff;
}
